@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the hair salon scheduler!</h1>

<p>Use the links in the navigation menu to access the different sections of the application:</p>

<p>
    <a href="@Url.Action("AddStylist", "Stylist")" class="btn btn-primary">Add Stylist</a>
    <a asp-controller="Stylist" asp-action="GetStylist" class="btn btn-primary">Get Stylist</a>
</p>

<p>
    <a asp-controller="Customer" asp-action="Register" class="btn btn-primary">Register a User</a>
    <a asp-controller="Customer" asp-action="Register" class="btn btn-primary">View Users</a>
</p>

<p>
    <a asp-controller="Appointment" asp-action="CreateAppointment" class="btn btn-primary">Schedule an Appointment</a>
    <a asp-controller="Appointment" asp-action="GetAppointment" class="btn btn-primary">View Appointments</a>

</p>
<p>
    <a asp-controller="Service" asp-action="Create" class="btn btn-primary">Create Service</a>
    <a asp-controller="Service" asp-action="Create" class="btn btn-primary">View Service</a>


</p>

