@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the hair salon scheduler!</h1>

<p>Use the links in the navigation menu to access the different sections of the application:</p>

<p>
    <a href="@Url.Action("AddStylist", "Stylist")" class="btn btn-primary">Add Stylist</a>
</p>
