@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Hair Salon Scheduler</h1>

<ul>
    <li><a asp-controller="Appointments" asp-action="Index">Appointments</a></li>
    <li><a asp-controller="PromotionalPricings" asp-action="Index">Promotional Pricings</a></li>
    <li><a asp-controller="SocialMediaAccounts" asp-action="Index">Social Media Accounts</a></li>
    <li><a asp-controller="Stylists" asp-action="Register">Stylists</a></li>
    <li><a asp-controller="StylistHours" asp-action="Index">Stylist Hours</a></li>
    <li><a asp-controller="StylistServices" asp-action="Index">Stylist Services</a></li>
    <li><a asp-controller="TheServices" asp-action="Index">Services</a></li>
    <li><a asp-controller="TheUsers" asp-action="Register">Users</a></li>
</ul>
