@model hairSalonScheduler.Models.SocialMediaAccount

<h2>Social Media Account</h2>

<div class="form-group">
    <label asp-for="SocialMediaType" class="control-label">Social Media Type</label>
    <select asp-for="SocialMediaType" class="form-control">
        <option value="Facebook">Facebook</option>
        <option value="Instagram">Instagram</option>
    </select>
    <span asp-validation-for="SocialMediaType" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="AccountId" class="control-label">Account ID</label>
    <input asp-for="AccountId" class="form-control" />
    <span asp-validation-for="AccountId" class="text-danger"></span>
</div>

<div class="form-group">
    <input type="hidden" asp-for="StylistId" class="form-control" />
</div>
