@model hairSalonScheduler.Models.SocialMediaAccount

<h2>Social Media Account Information</h2>
<!-- Add the remaining fields for the SocialMediaAccount model -->
@Html.EditorFor(model => model.AccountId, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })

<!-- Add other SocialMediaAccount fields here -->
