@model hairSalonScheduler.Models.StylistService

<h2>Stylist Service</h2>

<div class="form-group">
    <label asp-for="StylistID" class="control-label">Stylist ID</label>
    <input asp-for="StylistID" class="form-control" />
    <span asp-validation-for="StylistID" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ServiceID" class="control-label">Service ID</label>
    <input asp-for="ServiceID" class="form-control" />
    <span asp-validation-for="ServiceID" class="text-danger"></span>
</div>
