@model hairSalonScheduler.Models.Appointment

<h1>Edit Appointment</h1>

<form asp-action="Update">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId" />

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Customer</label>
        <div class="col-sm-10">
            <input asp-for="Customers.Name" class="form-control" value="@Model.Customers.Name" readonly />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="SelectedDateTime" class="control-label"></label>
        <input asp-for="SelectedDateTime" class="form-control" />
        <span asp-validation-for="SelectedDateTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PaymentStatus" class="control-label"></label>
        <input asp-for="PaymentStatus" class="form-control" />
        <span asp-validation-for="PaymentStatus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StylistId" class="control-label"></label>
        @Html.DropDownListFor(model => model.StylistId, ViewBag.Stylists as SelectList, "-- Select Stylist --", new { @class = "form-control" })
        <span asp-validation-for="StylistId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ServiceId" class="control-label"></label>
        @Html.DropDownListFor(model => model.ServiceId, ViewBag.Services as SelectList, "-- Select Service --", new { @class = "form-control" })
        <span asp-validation-for="ServiceId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            var servicesDropdownList = $('#ServiceId');

            $('#StylistId').on('change', function () {
                var stylistId = $(this).val();

                $.ajax({
                    type: 'GET',
                    url: '/Appointment/GetServicesByStylistId',
                    data: { stylistId: stylistId },
                    success: function (data) {
                        servicesDropdownList.empty();

                        $.each(data, function (index, item) {
                            servicesDropdownList.append($('<option/>', {
                                value: item.id,
                                text: item.category
                            }));
                        });
                    }
                });
            });
        });
    </script>
}