@model hairSalonScheduler.Models.Appointment

@{
    ViewData["Title"] = "Edit Appointment";
}

<h2>Edit Appointment</h2>

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId" />

    <div class="form-group">
        <label for="CustomerId">Customer</label>
        <input asp-for="Customers.Name" class="form-control" value="@Model.Customers.Name" readonly />
    </div>
    <div class="form-group">
        <label for="SelectedDateTime">Date and Time</label>
        <input asp-for="SelectedDateTime" type="datetime-local" class="form-control" required>
    </div>
    <!--Status-->
    <div class="form-group">
        <label for="Status">Status</label>
        <select asp-for="Status" class="form-control">
            <option value="">Select a status...</option>
            <option value="Scheduled">Scheduled</option>
            <option value="Completed">Completed</option>
            <option value="Cancelled">Cancelled</option>
        </select>
    </div>
    <!--Payment-->
    <div class="form-group">
        <label for="PaymentStatus">Payment Status</label>
        <select asp-for="PaymentStatus" class="form-control">
            <option value="">Select a payment status...</option>
            <option value="Pending">Pending</option>
            <option value="Paid">Paid</option>
            <option value="Refunded">Refunded</option>
        </select>
    </div>
    <!--Services-->
    <div class="form-group">
        <label for="Service">Service</label>
        <select id="Service" asp-items="ViewBag.Services" class="form-control">
            <option value="">Select a service...</option>
        </select>
        <input type="hidden" asp-for="ServiceId">
        <input type="hidden" asp-for="StylistId">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <!--Select the Service and StylistID-->   
    <script>
        var serviceDropdown = document.getElementById("Service");
        serviceDropdown.addEventListener("change", function (e) {
            var selectedOption = e.target.selectedOptions[0];
            var values = selectedOption.value.split(",");
            document.getElementById("ServiceId").value = values[0];
            document.getElementById("StylistId").value = values[1];
        });

        // Preselect the current service and stylist
        var currentServiceId = '@Model.ServiceId';
        var currentStylistId = '@Model.StylistId';
        var options = serviceDropdown.options;

        for (var i = 0; i < options.length; i++) {
            var optionValues = options[i].value.split(",");
            if (optionValues[0] == currentServiceId && optionValues[1] == currentStylistId) {
                serviceDropdown.selectedIndex = i;
                break;
            }
        }
    </script>
}